name: Build geosite.dat

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - "data/**"
      - ".github/workflows/build.yml"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install geosite compiler
        run: |
          pip install geosite-compiler

      - name: Compile geosite.dat
        run: |
          geosite-compiler data geosite.dat

      - name: Prepare publish directory
        run: |
          mkdir -p publish
          cp geosite.dat publish/geosite.dat
          cd publish
          sha256sum geosite.dat > geosite.dat.sha256sum

      - name: Push assets to release branch
        run: |
          cd publish
          git init
          git config --local user.name "github-actions[bot]"
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git checkout -b release
          git add .
          git commit -m "Auto build $(date +%Y%m%d%H%M)"
          git remote add origin "https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}"
          git push -f -u origin release
