name: Build geosite.dat

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - "data/**"
      - ".github/workflows/build.yml"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout your repository
        uses: actions/checkout@v4

      - name: Download DLC compiler
        run: |
          mkdir tools
          curl -L -o tools/dlc https://github.com/v2fly/domain-list-community/releases/latest/download/dlc-linux-amd64
          chmod +x tools/dlc

      - name: Clone domain-list-community
        run: |
          git clone https://github.com/v2fly/domain-list-community dlc

      - name: Replace dlc/data with your data
        run: |
          rm -rf dlc/data/*
          cp -r data/* dlc/data/

      - name: Build geosite.dat
        run: |
          ./tools/dlc build --dir dlc --output geosite.dat

      - name: Prepare publish directory
        run: |
          mkdir -p publish
          cp geosite.dat publish/geosite.dat
          cd publish
          sha256sum geosite.dat > geosite.dat.sha256sum

      - name: Push assets to release branch
        run: |
          cd publish
          git init
          git config --local user.name "github-actions[bot]"
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git checkout -b release
          git add .
          git commit -m "Auto build $(date +%Y%m%d%H%M)"
          git remote add origin "https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}"
          git push -f -u origin release
