name: Build geosite.dat

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - "data/**"
      - ".github/workflows/build.yml"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout your repository
        uses: actions/checkout@v4

      - name: Clone domain-list-community
        run: |
          git clone https://github.com/v2fly/domain-list-community dlc

      - name: Replace dlc/data with your data
        run: |
          rm -rf dlc/data/*
          cp -r data/* dlc/data/

      - name: Install Go 1.20
        uses: actions/setup-go@v5
        with:
          go-version: "1.20"

      - name: Build DLC compiler
        run: |
          cd dlc
          go build -o dlc .

      - name: Compile geosite.dat
        run: |
          cd dlc
          ./dlc build --output ../geosite.dat

      - name: Prepare publish directory
        run: |
          mkdir -p publish
          cp geosite.dat publish/geosite.dat
          cd publish
          sha256sum geosite.dat > geosite.dat.sha256sum

      - name: Push assets to release branch
        run: |
          cd publish
          git init
          git config --local user.name "github-actions[bot]"
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git checkout -b release
          git add .
          git commit -m "Released on $(date +%Y%m%d%H%M)"
          git remote add origin "https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}"
          git push -f -u origin release
