name: Build geosite.dat

on:
  push:
    paths:
      - "data/**"
      - ".github/workflows/build.yml"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install dlt (domain-list-tools)
        run: |
          pip install domain-list-tools

      - name: Build geosite.dat
        run: |
          mkdir build
          dlt --input data --output build

      - name: Copy result
        run: |
          cp build/geosite.dat geosite.dat

      - name: Commit result
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Auto-build geosite.dat"
          file_pattern: geosite.dat
